body { padding: 0; margin: 0; font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;  }
h1 {font-size:20px; padding:0; margin:5px 0; text-align:center; color:#888;}
h2 { font-size: 1.1em; padding: 10px; margin: 0; }
img { border: none; }
a { color: #444340; }


.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }


/* For inline examples only */
#PhotoSwipeTarget { width: 100%; height: 200px; }

#Indicators { text-align: center; margin-top: 20px; }
#Indicators span { display: inline-block; height: 10px; width: 10px; margin: 0 10px 0 0; padding: 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background: #c5c5c5; overflow:hidden; }
#Indicators span.current{ }


.gallery li {
float: left;
width: 168px;
height: 168px;
overflow: hidden;
padding: 0px;
margin:10px;
box-shadow: 6px 6px 10px #444444;
border: 1px solid white;
border-radius: 8px; 
-moz-border-radius: 8px; 
-webkit-border-radius: 8px;
}
.gallery li img {width:auto; max-height:133%; margin-left:-10%; margin-top:-5%;}
.gallery li a {border:none; margin:0;}

#menu  {width:100%; display:none; position:fixed; left:0; bottom:0px; background:white; color:black; padding:2px; z-index:2; border:1px solid black;}
#menu .btn {margin:0 2px;}

.gallery li.fotoskany img {max-height:192%;}
.gallery li.balustrady img {max-height:155%;}
.gallery li.oktawa img {max-height: 130%;margin-left: -14%;margin-top: -16%;}